body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border: 1px solid red;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  margin-left: .5rem;
}

.equals {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  
}